@import 'global-overrides';
@import 'rwd';

body {
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/img/casino-sm.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: $min-width-768) {
  body {
    background-image: url(../assets/img/casino-xl.jpg);
  }
}
