@import 'global-overrides';
@import 'rwd';

body {
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/img/casino-sm.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media (min-width: $min-width-1680) {
  :root {
    font-size: 18px;
  }
}
@media (max-width: $min-width-1024) {
  :root {
    font-size: 14px;
  }
}

@media (min-width: $min-width-768) {
  body {
    background-image: url(../assets/img/casino-xl.jpg);
  }
}

@media (max-width: $min-width-768) {
  :root {
    font-size: 13px;
  }
}
