@import 'colors';

:host {
  .btn {
    display: flex;
    font-family: 'Merriweather', sans-serif;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    padding: 24px 60px;
    letter-spacing: 2px;

    &--primary {
      background-color: $casino-red;
      color: $white;
      text-shadow: 1px 1px 1px white;
    }
    &--secondary {
      background-color: $white;
      color: $black;
      text-shadow: 1px 1px 1px black;
    }
    &.disabled {
      opacity: 0.3;
      pointer-events: none;
    }
    &:active {
      transform: translateY(2px);
    }
  }
}
