@import 'colors';
@import 'sizes';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $poker-card-height * 1.4;
  width: $poker-card-width * 1.4;
  border: 2px solid $light-gray-1;
  border-radius: 6px;
  box-shadow: 2px 2px 2px $light-gray;

  .holder {
    height: $poker-card-height * 1.04;
    width: $poker-card-width * 1.04;
    border: 2px solid $casino-red;
    border-radius: 5px;
    box-shadow: 1px 1px 1px red;
  }
}
