.card-list {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 40px;
}

.cdk-drag:not(.cdk-drag-preview) {
  transform: none !important;
}

.cdk-drag.cdk-drag-placeholder {
  display: none;
}

.card-list .cdk-drag.cdk-drag-placeholder {
  display: block !important;
}
