<div class="main">
  <h1 class="main__heading">Podaj siedem kart, aby utworzyć kombinację.</h1>
  <!-- *ngIf="{ cardsObject: cardsObject$ | async } as asyncData" -->
  <div class="main__holders">
    <facade-app-holder
      *ngFor="let holder of [].constructor(7); let i = index"
      cdkDropList
      [cdkDropListData]="usedCards"
      (cdkDropListDropped)="dropCard($event)"
    >
      <ng-container *ngIf="(cardsObject$ | async)![i + 1]">
        <facade-app-card
          [rank]="
            (cardsObject$ | async)![i + 1].length > 2
              ? (cardsObject$ | async)![i + 1].substring(0, 2)
              : (cardsObject$ | async)![i + 1][0]
          "
          [symbol]="
            (cardsObject$ | async)![i + 1].length > 2
              ? (cardsObject$ | async)![i + 1][2]
              : (cardsObject$ | async)![i + 1][1]
          "
          cdkDrag
        ></facade-app-card>
      </ng-container>
    </facade-app-holder>
  </div>
</div>
