:host {
  display: flex;
  justify-content: center;

  .main {
    width: 100%;
    font-family: 'Merriweather', sans-serif;
    margin-top: 100px;
    max-width: 1100px;

    &__heading {
      color: white;
      text-align: center;
      text-transform: uppercase;
    }

    &__holders {
      margin-top: 40px;
      display: flex;
      justify-content: space-around;
    }

    &__btns {
      margin-top: 50px;
      display: flex;
      justify-content: space-evenly;
    }
  }
}
.cdk-drop-list-dragging .cdk-drag.cdk-drag-placeholder {
  display: none !important;
}
