<div class="main">
  <h1 class="main__heading">Podaj siedem kart, aby utworzyć kombinację.</h1>
  <div class="main__holders">
    <facade-app-holder
      *ngFor="let holder of [].constructor(7); let i = index"
      cdkDropList
      [cdkDropListData]="usedCards"
      (cdkDropListDropped)="dropCard($event)"
      cdkDropListSortingDisabled="true"
    >
      <ng-container *ngIf="(cardsObject$ | async)![i + 1] as card">
        <facade-app-card
          [rank]="card.length > 2 ? card.substring(0, 2) : card[0]"
          [symbol]="card.length > 2 ? card[2] : card[1]"
          cdkDrag
        ></facade-app-card>
      </ng-container>
    </facade-app-holder>
  </div>
  <div class="main__btns">
    <facade-app-button
      class="main__btns--reset"
      [type]="BTN_TYPES.SECONDARY"
      (clicked)="resetCards()"
      >RESET KOMBINACJI</facade-app-button
    >
    <facade-app-button
      [type]="BTN_TYPES.PRIMARY"
      [isDisabled]="usedCards.length !== 7"
      (clicked)="checkCombination()"
      >SPRAWDŹ KOMBINACJĘ</facade-app-button
    >
  </div>
  <h2 *ngIf="combinationName" class="main__combination">
    {{ combinationName }}
  </h2>
</div>
